@import url("normalize.css");

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
   width: 100%;
 }

.logoform {

  width: 70%;
}




 .formulario-login {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 20%;
   color: #434343;
   line-height: 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   letter-spacing: 0.1em;
   background-color:  #E8E8E8;



 }
