<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/faqstyle.css">
    <title>FAQ</title>
  </head>
  <body>
    <header>
      LOGO Y NOMBRE
    </header>
    <div class="faqcuerpo">
      <p><h2 class="preguntas">¿COMO COMPRAR?</h2><br>
        <br>
        <p class="respuestas">
PODES COMPRAR EN NUESTRA PÁGINA “ISABELLA.COM.AR”, HACIENDO CLICK EN LOS DIFERENTES ENLACES.<br>
UNA VEZ QUE ELIJAS EL PRODUCTO, TE MOSTRARA EL DETALLE DEL PRODUCTO Y TENBDRAS UN BOTON DE “COMPRA” <br>
DISPONIBLE PARA COMENZAR LA TRANSACCION.</p><br>
<br>
<h2 class="preguntas">¿NECESITO TENER CUENTA PARA COMPRAR ONLINE?</h2><br>
<br>
    <p class="respuestas">SI TE RESGISTRAS PODRAS HACER UN SEGUIMIENTO DE TU COMPRAS HASTA QUE LLEGUE A TUS MANOS. <br>
ADEMAS DE TENER DIFERENTES PROMOCIONES DISPONIBLES EN TU PERFIL.</p><br>
<br>
<h2 class="preguntas">¿OLVIDE MI CONTRASEÑA, COMO LA RECUPERO?</h2><br>
<br>
    <p class="respuestas">PARA RECUPERAR TU CONTRASEÑA ENTRA ACA PARA PODER REINICIARLA Y USA UNA NUEVA PARA VOLVER A <br>
ENTRAR A TU PERFIL </p><br>
<br>
<h2 class="preguntas">¿COMO SE MI TALLE?</h2><br>
<br>
    <p class="respuestas">ENTRANDO A ESTE LINK, TENDRAS DIFERENTES TABLAS QUE TE PERMITAN DE ACUERDO A TUS MEDIDAS ELERGIR <br>
ADECUADAMENTE EL TALLE.</p><br>
<br>
<h2 class="preguntas">¿SI POR ERROR ELEGI MAL EL TALLE, QUE PUEDO HACER?</h2><br>
<br>
    <p class="respuestas">SIEMPRE TENDRAS LA POSIBILIDAD DE ACERCARTE A NUESTROS LOCALES CON LA PRENDA O ACCESORIO SIN SACAR <br>
LAS ETIQUETAS Y CAMBIARLAS, PUEDE SER EL TALLE, O POR EL IMPORTE DEL MISMO POR OTRO PRODUCTO DISPONIBLE EN ESE LOCALpp
 <br>
    </p>
    </div>

  </body>
</html>
